Repository GSemir0418/react-vite-ts-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

docs: 更新README
  README.md
Due: npx prettier --write

test: stylelint
  src/views/About.module.scss
Due: none

chore: 配置stylelint
  .lintstagedrc.json
  .stylelintrc.js
  README.md
  package.json
  pnpm-lock.yaml
Due: npx prettier --write, npx eslint --fix

chore: 配置classnames
  .stylelintrc.js
  README.md
  package.json
  pnpm-lock.yaml
  src/views/About.module.scss
  src/views/About.tsx
Due: npx prettier --write, npx eslint --fix

test: 安装jest测试框架
  README.md
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore: 安装测试库及环境
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore: 测试配置
  .eslintrc.js
  jest.config.json
  tsconfig.json
  vite.config.ts
Due: npx prettier --write, npx eslint --fix

test: 测试Button组件
  src/__test__/Button.test.tsx
  src/__test__/__snapshots__/Button.test.tsx.snap
  src/components/button/Button.module.scss
  src/components/button/Button.tsx
Due: npx prettier --write, npx eslint --fix

docs: 更新jest测试内容
  README.md
Due: npx prettier --write

Path conditions:
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
